/* Barra di caricamento */
body{
  background-color: rgb(245, 180, 106);
}
#mapid {
  height: 50%;
  width: 90%;
  margin: 0 auto;
}
#progressionBar{
  margin-top: 1%;
  width: 0%;
  height: 5%;
  background-color: rgb(0, 182, 91);
  /* border: 2px solid rgb(4, 78, 1); */
  border-radius: 10%;
  margin-bottom: 100px;
  padding-left: 5%;
  padding-right: 1%;
  border: 3px solid darkgreen;
}

@media only screen and (max-width:830px){
  #progressionBar{
    padding-left:8%;
  }
}

@media only screen and (max-width:530px){
  #progressionBar{
    padding-left:15%;
  }
}

#percentuale{
  color: white;
  font-family: fontTesto;
  font-size: 1.5em;
  /* margin-top: 100px; */
  float: right;
}

/* Fine barra di caricamento */

/*  icona che ruota */
#punti{
  margin:20px;
  display:flex;
  align-items:center;
  justify-content: center;
  height: 70px;
  perspective:10px;
}

html, body, #big-container {
  padding: 0;
  margin: 0;
  /* display: flex; */
  background-position: center center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0%;
  overflow: auto;
  /* width: 100vw; */
 /* height: 100vh;  */
}

#nav{
  height: 100px;
  /* width: 100%;  */
  width: 100%;
  margin-top: 0px;
  margin-bottom: 100px;
}

#nav > span{
  /* float: right;  */
  float: left;
  margin-right: 20px;
  margin-top: auto;
  display: block;
  margin-top: 0px;
  font-size: 60px;
}

textarea{
  width: 100%;
}

#punti{
  margin-top: 10px;
  width: 70px;
  float: left;
  margin-bottom: 30px;
}

#indietroBtn, #avantiBtn {
  margin-top: 5px;
}

#big-container{
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

/* BOX DEI MESSAGGI DELLE TRANSIZIONI */
#box-transizione{
  opacity: 0.95;
  border-radius: 2%;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 7em;
  text-align: center;
  margin-bottom: 30px;
}

#avantiBtnPrimo{
  margin-bottom: 20px;
  margin-bottom: 10px;
}

#messTransition{
  font-size: 50px;
}

#box {
  width: 100%;
  height: 100%;
}

#benvenuto {
  font-size: 22px;
}

#descrizione {
  font-size: 18px;
}

.container {
  width: 500px;
  max-width: 80%; 
  margin-top: -70px; 
  padding: 10px;
  border-radius: 5px;  
  box-shadow: 0 0 10px 2px;
}

#personaggioGuida {
  float: right;
  margin-left: 20px;
  border: none;
}

#ytvideo {
  width: 100%;
  height: 500px;
}

#textbox {
  background-size: cover;
  width: 100%;
  height: 100%;
  font-size: 22px;
}

.customButton{
  width: 120px;
  height: 55px;
  border-radius: 10%;
  text-align: center;
  font-size: 22px;
}
a p{
  color: rgb(248, 255, 255);
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  text-decoration: none;
  border-radius: 5%;
  background-image: url("./images/sfondoLink.jpeg");
}
a{
  text-decoration: none !important;
}

a p:hover{
  text-decoration: none;
  color: rgba(3, 58, 83, 0.705);

}


#immagine{
  max-width:100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer style*/
footer{
  margin-bottom: 0px;
  display: inline;
}

#footer{
  text-align: center;
  padding:20px;
  color:white;
  width: 100%;
  margin:0!important; 
  background-color: black;
  
}

#footer h4{
  margin-top: 20px;
}

hr{
  background-color: blanchedalmond;
}

.containerFooter {
  padding: 2px 16px;
}

div#qrcodes img{
  width: 200px;
}

#qrcodes{
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  padding:30px;
}

/* MEDIA QUERY */

@media only screen and (max-width: 500px) {

  #percentuale{
    font-size: 22px;
  }

  #progressionBar{
    height: 8%;  
    margin-bottom: 40px;
  }

  h1{
    font-size: 4em;
    margin-bottom: 10px;
  }

  .container {
    margin-top: -80px;
    width: 480px;
    max-width: 95%;
    max-height: 120%!important;
    padding: 10px;
    border-radius: 5px;  
    box-shadow: 0 0 10px 2px;
    font-size: 1em;
    margin-top: 18px;
  } 

  /* Immagine stella polare */
  #immagine{
    justify-content: center;
    border-radius: 10%;
  }

  #box {
    font-family: Helvetica;
    font-size: 18px;
    max-height: 100%;
  }

  #messTransition{
    font-size: 35px;
  }

  #personaggioGuida {
    float: right;
    margin-right: 10px;
    max-width: 100px;
    max-height: 200px;
  }

  #ytvideo {
    height: 300px;
  }

  #nav{
    height: 40px;
    width: 100%;
    margin-top: 0px;
  }

  #nav > span{
    font-size: 50px;
    margin-top: 7px;
  }

  #textbox{
    height: 300px!important;
  }

  #punti{
    margin-top: 23px;
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 5px;
  }

}

@media only screen and (min-width: 1000px) {
  #box {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  #big-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 15px;
  }
}

@media screen and (min-height: 830px) and (min-width:770px) {
  #footer{
    position: absolute;
    bottom:0;
  }
}

@media screen and (min-width: 768px) and (max-width:770px) and (min-height: 835px){
  #footer{
    position: absolute;
    bottom:0;
  }
}

.well.well-solid {
  color: white;
}
.well:hover .well-image {
  font-size: 60px;
}
.well-white {
  background-color: white;
  color: #454545;
}
.well-blue {
  background-color: #2980b9;
  color: white;
}
.well-light-blue {
  background-color: #3498db;
  color: white;
}
.mini-profile-widget .image-container .avatar {
  width: 180px;
  height: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background: white;
  padding: 4px;
  border: 1px solid #dddddd;
}

.btn-blue {
background-color: #3498db;
border-color: #3498db;
color: white;
}
.btn-blue:hover,
.btn-blue:visited {
background-color: #2980b9;
color: white;
}
.well-green {
  background-color: #27ae60;
  color: white;
}
.well-light-green {
  background-color: #2ecc71;
  color: white;
}
.btn-green {
  background-color: #2ecc71;
  border-color: #27ae60;
  color: white;
}
.btn-green:hover,
.btn-green:visited {
  background-color: #27ae60;
  color: white;
}