<!DOCTYPE html>
<html>

<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">

    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="defaultStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>
    <title>TechWeb Project</title>
</head>

<body>
    <audio controls id="music">
        <source src="" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>        
    <script>
        var i = 1;
        var brano= document.getElementById("music");
        // ripete il brano quando finisce
        document.getElementById('music').loop = true;
        function play() {
            i++;
            if(i % 2 == 0){
                brano.play();
                
            }else{
                brano.pause();
            }
        }   
    </script>
    <div id="qrcodes" class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 vcenter dblock">
            <a href="http://site181986.tw.cs.unibo.it/?storia=1">
                <img src="./images/qr-code-storia1.png" alt="foto primo qrcode" /><br><br>
                <p>VERSO LA CINA<br>7-10 anni<br>1 persona</p>
            </a>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 vcenter dblock">
            <a href="http://site181986.tw.cs.unibo.it/?storia=2">
                <img src="./images/qr-code-storia2.png" alt="foto secondo qrcode" /><br><br>
                <p>ORIENTEERING A VENEZIA<br>11-14 anni<br>2-5 persone</p>
            </a>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 vcenter dblock">
            <a href="http://site181986.tw.cs.unibo.it/?storia=3">
                <img src="./images/qr-code-storia3.png" alt="foto terzo qrcode" /><br><br>
                <p>L'ASSASSINIO DI GIULIO CESARE<br>15-18 anni<br>15-25 persone</p>
            </a>
        </div>
    </div>

    <div id="big-container">    
        <div id="box">
            <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="play()" id="avviaMusica">Avvia/Ferma la colonna sonora</button>
            <div id="progressionBar">
            <span id="percentuale">0%</span>
            </div>   

            <h1>{{ titolo }}</h1>
            <div id="box-transizione">
                <transizione id="transizioneID" :messagetransition="messagetransition"></transizione>
            </div>
            <div class="text-center">
                <button id="avantiBtnPrimo" class="btn btn-light customButton" v-on:click="avanti">Avanti</button>
            </div>
            <div class="container">
                <div>
                    <p id="description">{{ text }}</p>
                </div>
                <radio-item v-for="radio in radioList" v-bind:radio="radio" v-bind:key="radio.id"></radio-item>
                <div id="sliderContainerPartecipanti">
                    <span id="minPartecipanti"></span>
                    <input type="range" id="sliderPartecipanti" class="slider" onchange="setPartecipanti()">
                    <span id="maxPartecipanti"></span>
                    <p id="currentValuePartecipanti"></p>
                </div>
                <div>
                    <input type="text" id="inputText" oninput="checkInputBox()">
                </div>
                <div id="sliderContainerPlayer">
                    <span id="minPlayer"></span>
                    <input type="range" id="sliderPlayer" class="slider" onchange="setPlayer()">
                    <span id="maxPlayer"></span>
                    <p id="currentValuePlayer"></p>
                </div>
                <immagine-centrale :imgcentral="imgcentral"></immagine-centrale>
                <audio controls src="" id="audio">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>

                <iframe id="ytvideo" src="" frameborder=0 allowfullscreen></iframe>
                <textarea id="textbox" type="text"></textarea>
                <textarea id="textBoxWithCheck" type="text" oninput="checkTextBox()"></textarea>
                <div class="btn-grid">
                    <button id="indietroBtn" class="btn btn-warning" v-on:click="indietro">Indietro</button>
                    <button id="avantiBtn" class="btn btn-success  float-right" v-on:click="avanti">Avanti</button>
                </div>
                
            </div>
            <img v-bind:src="personaggio" id="personaggioGuida" width="200px">
            <div id="nav">
                <span id="tuoi_punti">0</span>
            </div>
            <div id="mapid"></div>
         
            
        </div>       
        
    </div>
   
 
    


     <footer>
         <div id="footer" class="row">
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="./images/ema.png" class="avatar img-responsive" alt="avatar">
                        </div>  
                    </div>
                    <div> 
                        <div class="details">
                            <h4>Emanuele Fazzini</h4>
                            <hr> 
                            <div>Assistente braciere </div>
                            <div>Architect & Engineer</div>
                            <div>Università di Bologna</div>
                            <a href="#" class="card-link">Sito personale &raquo;</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="./images/micky.png" class="avatar img-responsive" alt="avatar">
                        </div>  
                    </div>
                    <div> 
                        <div class="details">
                            <h4>Michele Bonini</h4>
                            <hr> 
                            <div>Architect & SOFTWARE Engineer </div>
                            <div>Owner of every Zoom's teams videochat</div>
                            <div>Università di Bologna</div>
                            <a href="#" class="card-link">Sito personale &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="./images/ric.png" class="avatar img-responsive" alt="avatar">
                        </div>  
                    </div>
                    <div> 
                        <div class="details">
                            <h4>Riccardo Cavallin</h4>
                            <hr> 
                            <div>Trader professionista (analisi tecnica) </div>
                            <div>Conosce a memoria le tabelline,<br> intervallo: [0,10]</div>
                            <div>Università di Bologna</div>
                            <a href="https://it.linkedin.com/in/riccardocavallin?trk=people-guest_people_search-card" class="card-link">Sito personale &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="well mini-profile-widget">
                    <div>
                        <div class="image-container">
                            <img src="./images/Marty.png" class="avatar img-responsive" alt="avatar">
                        </div>  
                    </div>
                    <div> 
                        <div class="details">
                            <h4>Martino Simonetti</h4>
                            <hr> 
                            <div>Developer and Algoritmista</div>
                            <div>Pensatore di pensieri</div>
                            <div>Università di Bologna</div>
                            <a href="https://it.linkedin.com/in/martino-simonetti-917a78193" class="card-link">Sito personale &raquo;</a>
                        </div>
                    </div>
                </div>
            </div>
        
         </div>
    
    </footer>
    
</body>

</html>


