@font-face{
    font-family: fontRomano;
    src: url(./fonts/norse.ttf);
  }
  @keyframes loadingMoneta{
    0%{
      transform:rotateY(0deg) rotateZ(0deg);
    }
   
    50%{
      transform:rotateY(180deg) rotateZ(0deg);
    }
  } 
  #nav > span {
    font-family: titoloFont;
    color: rgb(236, 201, 162);
  }
#progressionBar{
    background-color: rgb(216, 0, 0);
    border: 3px solid rgb(255, 123, 0);
  }
  #box-transizione{
    /* background-color: rgb(172, 171, 143); */
    padding-top: 2%;
    background-color: rgb(109, 61, 30);
    border: 3px double rgb(58, 37, 0);
  }
  h1 {
    color: rgb(231, 229, 85);
    font-family: fontRomano;
    font-weight: bold;
  }

  #messTransition{
    color: rgb(253, 253, 253);
  }

  #benvenuto {
    font-family: Impact;
    color: green;
  }

  #descrizione {
    color: black;
  }

  .container {
    background-color: rgba(255,255,255,0.7);
  }

  #textbox {
    background:url(images/taccuino.jpg);
    font-family: fontCustom;
  }

  .customButton{
    font-family: serif;
    color: darkblue;
    border: 2px solid darkblue;
  }

  #immagine{
    border-radius: 10%;
    border: 4px solid rgb(224, 165, 0);
  }

  .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  @media only screen and (max-width: 500px) {
      /* click sulla stella polare */ 
    .imgAndButton .clickOnImg{
        position: absolute;
        top: 50px;
        right: 20px;
        opacity: 0.0;
        border-radius: 100%;
        text-transform:uppercase;
        padding: 24px 24px;
    }
  }
  