   @font-face{
    font-family: titoloFont;
    src: url(./fonts/Andovine.ttf);
  }


  #progressionBar{
    background-color: lightskyblue;
    border: 3px solid blue;
  }

  #nav > span {
    font-family: titoloFont;
    color: rgb(6, 236, 94);
  }

  /* gestione bottone sotto l'immagine */
.imgAndButton {
    display:inline-block;
    position:relative;
  }

.imgAndButton .clickOnImg {
    position: absolute;
    top: 80px;
    right: 20px;
    opacity: 0.0;
    border-radius: 100%;
    color:white;
    text-transform:uppercase;
    padding: 24px 24px;
  }
  /* fine gestione bottone sotto l'immagine */

  #box-transizione{
    background-color: rgb(96, 95, 173);
    border: 3px double rgb(7, 0, 105);
  }

  h1 {
    color: rgb(34, 190, 138);
    font-family: titoloFont;
  }

  #messTransition{
    color: rgb(221, 204, 204);
  }

  #benvenuto {
    font-family: Impact;
    color: green;
  }

  #descrizione {
    color: black;
  }

  .container {
    background-color: rgba(255,255,255,0.7);
  }

  .customButton{
    font-family: serif;
    color: darkblue;
    border: 2px solid darkblue;
  }

  #immagine{
    border-radius: 10%;
    border: 4px solid rgb(224, 165, 0);
  }

  .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
  }

  @media only screen and (max-width: 500px) {
      /* click sulla stella polare */ 
    .imgAndButton .clickOnImg{
        position: absolute;
        top: 50px;
        right: 20px;
        opacity: 0.0;
        border-radius: 100%;
        text-transform:uppercase;
        padding: 24px 24px;
    }

  }
  