@font-face {
    font-family: fontCustom;
    src: url(./fonts/Cardinal.ttf);
  }
  
  @font-face{
    font-family: titoloFont;
    src: url(./fonts/Katanf.ttf);
  }
  @font-face{
    font-family: fontTesto;
    src: url(./fonts/shanghai.ttf);
  }

  #progressionBar{
    background-color: rgb(0, 182, 91);
    border: 3px solid darkgreen;
  }

  #punti{
    animation: loadingMoneta 2s linear infinite;
  }

  @keyframes loadingMoneta{
    0%{
      transform:rotateY(0deg) rotateZ(0deg);
    }
   
    50%{
      transform:rotateY(180deg) rotateZ(0deg);
    }
  } 

  #nav > span {
    font-family: titoloFont;
    color: rgb(236, 236, 6);
  }

  /* gestione bottone sotto l'immagine */
.imgAndButton {
    display:inline-block;
    position:relative;
  }

.imgAndButton .clickOnImg {
    position: absolute;
    top: 80px;
    right: 20px;
    opacity: 0.0;
    border-radius: 100%;
    color:white;
    text-transform:uppercase;
    padding: 24px 24px;
  }
  /* fine gestione bottone sotto l'immagine */

  #box-transizione{
    background-color: rgb(7, 39, 49);
    border: 3px double rgb(25, 154, 177);
  }

  h1 {
    color: rgb(175, 164, 10);
    font-family: titoloFont;
  }

  #messTransition{
    color: goldenrod;
  }

  #benvenuto {
    font-family: Impact;
    color: green;
  }

  #descrizione {
    color: black;
  }

  .container {
    background-color: rgba(255,255,255,0.7);
  }

  #textbox {
    background:url(images/taccuino.jpg);
    font-family: fontCustom;
  }

  .customButton{
    font-family: serif;
    color: darkblue;
    border: 2px solid darkblue;
  }

  #immagine{
    border-radius: 10%;
    border: 4px solid rgb(224, 165, 0);
  }

  @media only screen and (max-width: 500px) {
      /* click sulla stella polare */ 
    .imgAndButton .clickOnImg{
        position: absolute;
        top: 50px;
        right: 20px;
        opacity: 0.0;
        border-radius: 100%;
        text-transform:uppercase;
        padding: 24px 24px;
    }
  }
  